.split-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-section-form {
    flex: 1;
    background-color: #068D9D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.right-section-image {
    flex: 1.2;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    width: 80%; 
    height: 80%;
    background-image: url('/back1.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.container1 {
    background-color: white;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-top: 15px;
    font-size: 13px;
}